@import '../../sass/Variables.scss';

body {
  margin: 0;
}

.CoveoSearchInterface {

    .CoveoSearchbox {
        margin: 0;
        border: 1px solid $bali-hai;

        .CoveoSearchButton {
            border: none;
        }

        .magic-box {
            border: none;
        }
    }

    .coveo-search-section {
        padding: 0;
    }

    &.coveo-small-facets {
        .coveo-dropdown-header-wrapper {
            a {
                &.coveo-dropdown-header {
                    margin-top: 5px;
                    margin-right: 0;
                    margin-left: 5px;
                }
            }
        }
    }

    .coveo-results-header {
        padding: 0;
    }

    .CoveoResultList {
        margin: 10px 0 0 0;
    }
}